---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deploy
  namespace: test
  labels:
    app: app-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-deploy
  template:
    metadata:
      labels:
        app: app-deploy
    spec:
      containers:
      - name: app1
        image: acrthuantest.azurecr.io/app:v1
        ports:
        - containerPort: 5001
        env:
        - name: FLASK_RUN_HOST
          value: "0.0.0.0"
        - name: FLASK_RUN_PORT
          value: "5001"